@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
body {
  font-size: 62.5%; }

.display {
  display: block !important;
  transition: 3s; }

@media only screen and (min-width: 20em) {
  .page-header {
    background-color: #FFFFFF;
    padding: 0 5%; }
    .page-header .navigation #toggleNavBtn {
      position: absolute;
      right: 5%;
      top: 22px;
      border: 0;
      background-color: transparent;
      font-size: 1.3rem; }
    .page-header .navigation .navigation-list {
      padding-left: 0;
      list-style-type: none; }
      .page-header .navigation .navigation-list .navigation-list-link a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        color: #000000;
        opacity: 0.7;
        transition: 0.2s; }
        .page-header .navigation .navigation-list .navigation-list-link a:hover {
          opacity: 1;
          transition: 0.2s; }
      .page-header .navigation .navigation-list .navigation-list-link:first-child a img {
        position: relative;
        top: 6px; }
      .page-header .navigation .navigation-list .navigation-list-link:nth-child(n+2) {
        margin: 1% 0;
        text-align: right;
        font-size: 1.3rem;
        letter-spacing: 2px;
        display: none; }

  .intro {
    height: 90vh;
    padding: 0 5%;
    background-image: url("../img/introbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center; }
    .intro .title {
      position: relative;
      top: 25vh;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .intro .subtitle {
      position: relative;
      top: 25vh;
      color: #FFFFFF;
      font-family: "Roboto Slab", serif;
      font-size: 0.9rem;
      font-weight: 300; }
    .intro a {
      position: relative;
      top: 40vh;
      padding: 10px 20px;
      color: #FFFFFF;
      font-family: "Montserrat", sans-serif;
      font-size: 1.2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-color: #7cc576;
      border-radius: 20px; }

  .professional-services {
    padding: 10% 5%;
    text-align: center; }
    .professional-services .title {
      margin-bottom: 5px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 1.25rem; }
    .professional-services .subtitle {
      margin-top: 0;
      font-family: "Roboto Slab", serif;
      font-size: 0.75rem;
      opacity: 0.75; }
    .professional-services .wrapper .block {
      margin: 50px 0; }
      .professional-services .wrapper .block .block-title {
        font-family: "Montserrat", sans-serif;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 1px; }
      .professional-services .wrapper .block .block-description {
        font-family: "Roboto Slab", serif;
        font-size: 0.75rem; }

  .justrelax .wrapper {
    display: flex; }
    .justrelax .wrapper .gear {
      display: none; }
    .justrelax .wrapper .mainContent {
      height: 100%;
      padding: 5%;
      background-image: url("../img/justrelaxbg.jpg");
      background-size: cover;
      background-attachment: fixed; }
      .justrelax .wrapper .mainContent .title {
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 1.25rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px; }
        .justrelax .wrapper .mainContent .title span {
          color: #7cc576; }
      .justrelax .wrapper .mainContent .subtitle {
        color: #FFFFFF;
        font-family: "Roboto Slab", serif;
        font-size: 0.7rem;
        text-align: center;
        opacity: 0.7; }
      .justrelax .wrapper .mainContent .mainContent-list {
        list-style-type: none; }
        .justrelax .wrapper .mainContent .mainContent-list li {
          margin: 10% 0;
          color: #FFFFFF;
          font-family: "Montserrat", sans-serif;
          font-size: 0.8rem; }
          .justrelax .wrapper .mainContent .mainContent-list li img {
            position: relative;
            top: 10px;
            left: -10px; }
      .justrelax .wrapper .mainContent .mainContentBtn {
        padding: 10px 20px;
        margin: 15vh auto;
        display: block;
        width: 40%;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        text-decoration: none;
        background-color: #7cc576;
        border-radius: 20px; }

  .latestproject {
    padding: 5% 0; }
    .latestproject .title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px; }
    .latestproject .subtitle {
      font-family: "Roboto Slab", serif;
      font-size: 0.8rem;
      text-align: center;
      opacity: 0.7; }
    .latestproject .wrapper .mainContent {
      padding: 5%; }
      .latestproject .wrapper .mainContent .title {
        margin-top: 10vh;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem; }
      .latestproject .wrapper .mainContent .description {
        font-family: "Roboto Slab", serif;
        font-size: 0.75rem;
        text-align: left;
        opacity: 0.7; }
      .latestproject .wrapper .mainContent .mainContent-list {
        list-style-type: none;
        padding-left: 10px;
        padding-bottom: 20px; }
        .latestproject .wrapper .mainContent .mainContent-list li {
          margin: 15% 0;
          font-family: "Montserrat", sans-serif;
          font-size: 0.9rem;
          text-transform: uppercase; }
          .latestproject .wrapper .mainContent .mainContent-list li img {
            position: relative;
            top: 25px;
            left: -5px; }
      .latestproject .wrapper .mainContent .mainContentViewDetails {
        color: #7cc576;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: bold; }
    .latestproject .image {
      height: 50vh;
      background-image: url("../img/latestprojectimg.jpg");
      background-size: cover; }

  .culture {
    padding: 5% 0;
    background-color: #f9f9f9; }
    .culture .title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }
    .culture .subtitle {
      font-family: "Roboto Slab", serif;
      font-size: 0.8rem;
      text-align: center;
      opacity: 0.7;
      text-align: center; }
    .culture .wrapper {
      position: relative;
      top: 5vh;
      display: flex;
      flex-wrap: wrap;
      text-align: center; }
      .culture .wrapper .block {
        margin: 15% 5%;
        position: relative; }
        .culture .wrapper .block:after {
          display: block;
          content: "";
          height: 80px;
          width: 2px;
          left: 50%;
          right: 50%;
          position: absolute;
          background-color: #000000;
          opacity: 0.4; }
        .culture .wrapper .block:last-child:after {
          display: none; }
        .culture .wrapper .block .title {
          font-size: 0.9rem;
          letter-spacing: 2px; }
        .culture .wrapper .block .description {
          font-family: "Roboto Slab", serif;
          font-size: 0.8rem;
          opacity: 0.7; }

  .clients {
    padding: 5% 0; }
    .clients .title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center; }

  .subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 0.8rem;
    text-align: center;
    opacity: 0.7;
    text-align: center; }

  blockquote {
    margin: 20% 5%;
    text-align: center; }
    blockquote .avatar {
      height: 175px;
      width: 175px;
      display: block;
      margin: 0 auto;
      background-color: #cccccc;
      border-radius: 50%; }
    blockquote .quote {
      font-family: "Roboto Slab", serif;
      font-size: 0.9rem; }
    blockquote .author {
      font-family: "Roboto Slab", serif;
      font-size: 0.9rem;
      color: #7cc576; }

  .contact {
    background-color: #7cc576;
    padding: 10% 0;
    text-align: center; }
    .contact .title {
      margin-bottom: 10vh;
      font-family: "Montserrat", sans-serif;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #FFFFFF; }
    .contact a {
      padding: 5px;
      font-family: "Montserrat", sans-serif;
      font-size: 1.5rem;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: #FFFFFF;
      border: 3px solid #FFFFFF;
      text-align: center; }

  .logos {
    padding: 15%; }
    .logos .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .logos .wrapper img {
        margin: 2.5vh 0; }

  .page-footer .text-block {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    background-color: #222222; }
    .page-footer .text-block .title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.1rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .page-footer .text-block .contacts {
      font-family: "Roboto Slab", serif;
      font-size: 1rem;
      color: #FFFFFF; }
      .page-footer .text-block .contacts i {
        margin-right: 10px; }
    .page-footer .text-block .latestpost ul {
      padding: 0;
      list-style-type: none; }
      .page-footer .text-block .latestpost ul li {
        margin: 5% 0;
        font-family: "Roboto Slab", serif;
        font-size: 1rem;
        color: #FFFFFF; }
        .page-footer .text-block .latestpost ul li i {
          margin-right: 10px; }
    .page-footer .text-block .latesttweets {
      font-size: 1rem;
      font-family: "Roboto Slab", serif;
      color: #FFFFFF; }
      .page-footer .text-block .latesttweets span {
        font-size: 0.7rem; }
  .page-footer .socials-block {
    text-align: center; }
    .page-footer .socials-block ul {
      list-style-type: none; }
      .page-footer .socials-block ul li {
        margin: 5%;
        display: inline-block;
        font-size: 2rem; }
        .page-footer .socials-block ul li a {
          color: #000000; } }
@media only screen and (min-width: 48em) {
  .page-header {
    height: 5vh; }
    .page-header:after {
      display: block;
      content: "";
      clear: both; }
    .page-header .navigation #toggleNavBtn {
      display: none; }
    .page-header .navigation .navigation-list {
      padding-left: 0;
      list-style-type: none;
      text-align: right; }
      .page-header .navigation .navigation-list .navigation-list-link {
        display: inline-block; }
        .page-header .navigation .navigation-list .navigation-list-link:first-child {
          float: left;
          position: relative;
          top: 0px; }
        .page-header .navigation .navigation-list .navigation-list-link:nth-child(n+2) {
          position: relative;
          right: 0px;
          top: 20px;
          margin: 1%;
          display: inline-block;
          font-size: 0.8rem;
          letter-spacing: 0; }

  .intro {
    height: 95vh; }
    .intro .title {
      top: 14vh;
      font-size: 3.5rem; }
    .intro .subtitle {
      top: 15vh;
      font-size: 1.2rem; }
    .intro a {
      position: relative;
      top: 24vh; }

  .professional-services {
    height: 60vh;
    padding: 5%; }
    .professional-services .title {
      font-size: 1.75rem; }
    .professional-services .subtitle {
      font-size: 1rem; }
    .professional-services .wrapper {
      display: flex;
      flex-wrap: wrap; }
      .professional-services .wrapper .block {
        margin: 5% 0;
        width: 33%; }
        .professional-services .wrapper .block:nth-child(1) .block-title {
          position: relative;
          top: -4px; }
        .professional-services .wrapper .block:nth-child(1) .block-description {
          position: relative;
          top: -4px; }
        .professional-services .wrapper .block:nth-child(2) .block-title {
          position: relative;
          top: -7.5px; }
        .professional-services .wrapper .block:nth-child(2) .block-description {
          position: relative;
          top: -7.5px; }
        .professional-services .wrapper .block .block-title {
          font-family: "Montserrat", sans-serif;
          font-size: 1.1rem;
          text-transform: uppercase;
          letter-spacing: 1px; }
        .professional-services .wrapper .block .block-description {
          font-family: "Roboto Slab", serif;
          font-size: 0.75rem;
          margin: 0 7%; }

  .justrelax .wrapper {
    display: flex; }
    .justrelax .wrapper .gear {
      display: block;
      width: 30%;
      background-image: url("../img/gear.png");
      background-size: cover;
      background-position: center; }
    .justrelax .wrapper .mainContent {
      height: 80vh;
      width: 70%;
      padding: 5%;
      background-image: url("../img/justrelaxbg.jpg");
      background-size: cover;
      background-attachment: fixed; }
      .justrelax .wrapper .mainContent .title {
        font-size: 1.75rem;
        text-align: left; }
        .justrelax .wrapper .mainContent .title span {
          color: #7cc576; }
      .justrelax .wrapper .mainContent .subtitle {
        font-size: 1rem;
        text-align: left; }
      .justrelax .wrapper .mainContent .mainContent-list {
        padding-left: 8px; }
        .justrelax .wrapper .mainContent .mainContent-list li {
          margin: 3% 0; }
      .justrelax .wrapper .mainContent .mainContentBtn {
        margin: 15vh 0;
        width: 24%; }

  .latestproject {
    padding: 5% 0; }
    .latestproject .title {
      font-size: 1.75rem; }
    .latestproject .subtitle {
      font-size: 1rem; }
    .latestproject .wrapper {
      display: flex;
      flex-wrap: nowrap; }
      .latestproject .wrapper .mainContent {
        padding: 5%;
        width: 50%; }
        .latestproject .wrapper .mainContent .title {
          margin-top: 10vh;
          text-align: left; }
        .latestproject .wrapper .mainContent .description {
          font-family: "Roboto Slab", serif;
          font-size: 0.75rem;
          text-align: left;
          opacity: 0.7; }
        .latestproject .wrapper .mainContent .mainContent-list li {
          margin: 1% 0; }
    .latestproject .image {
      position: relative;
      top: 20vh;
      height: 60vh;
      width: 50%; }

  .culture .title {
    font-size: 1.75rem; }
  .culture .subtitle {
    font-size: 1rem; }
  .culture .wrapper {
    top: 5vh;
    display: flex;
    flex-wrap: wrap; }
    .culture .wrapper .block {
      margin: 0;
      width: calc(100%/3);
      position: relative; }
      .culture .wrapper .block:after {
        height: 2px;
        width: 100px;
        top: 21%;
        left: 80%; }
      .culture .wrapper .block .description {
        margin: 0 5% 10% 5%; }

  .clients {
    padding: 5% 0; }
    .clients .title {
      font-size: 1.75rem; }

  .subtitle {
    font-size: 1rem; }

  blockquote {
    margin: 10% 5%;
    text-align: right;
    display: flex;
    flex-wrap: wrap; }
    blockquote:last-child {
      text-align: left; }
      blockquote:last-child .avatar {
        order: 2; }
    blockquote .avatar {
      height: 190px;
      width: 30%;
      margin-left: 0; }
    blockquote .quote {
      position: relative;
      top: 30px;
      font-size: 1rem;
      width: 70%; }
    blockquote .author {
      position: relative;
      top: 20px;
      font-size: 1rem; }

  .contact .title {
    font-size: 1.75rem; }

  .logos {
    padding: 15%; }
    .logos .wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; }
      .logos .wrapper img {
        margin: 2.5vh 1%; }

  .page-footer .text-block .contacts {
    width: 33%;
    font-size: 0.8rem; }
  .page-footer .text-block .latestpost {
    width: 33%; }
    .page-footer .text-block .latestpost ul li {
      font-size: 0.8rem; }
  .page-footer .text-block .latesttweets {
    width: 33%;
    font-size: 0.8rem; }
  .page-footer .socials-block ul li {
    font-size: 1.5rem; } }
@media only screen and (min-width: 64em) {
  .intro {
    height: 95vh; }
    .intro .title {
      top: 25vh; }
    .intro .subtitle {
      top: 25vh; }
    .intro a {
      top: 34vh;
      transition: 0.3s; }
      .intro a:hover {
        background-color: #FFFFFF;
        color: #000000;
        transition: 0.3s; }

  .professional-services {
    height: 48vh; }

  .justrelax .wrapper .mainContent {
    height: 69vh; }
    .justrelax .wrapper .mainContent .mainContentBtn {
      margin: 8vh 0;
      width: 18%; }
      .justrelax .wrapper .mainContent .mainContentBtn:hover {
        background-color: #FFFFFF;
        color: #000000;
        transition: 0.3s; }

  .latestproject .wrapper .mainContent .mainContentViewDetails:hover {
    color: #000000; }

  .culture .wrapper .block:after {
    height: 2px;
    width: 42%;
    top: 21%;
    left: 80%; }
  .culture .wrapper .block .description {
    margin: 0 5% 10% 5%; }

  .clients {
    padding: 5% 7%; }
    .clients blockquote .avatar {
      width: 25%; }

  .contact .title {
    font-size: 2.05rem; }
  .contact a {
    padding: 15px;
    transition: 0.3s; }
    .contact a:hover {
      background-color: #FFFFFF;
      color: #7cc576;
      transition: 0.3s; }

  .logos {
    padding: 5% 15%; }
    .logos .wrapper img {
      margin: 2.5vh 5%; }

  .page-footer .text-block .contacts {
    font-size: 1rem; }
  .page-footer .text-block .latestpost ul li {
    font-size: 1rem; }
  .page-footer .text-block .latesttweets {
    font-size: 1rem; }
  .page-footer .socials-block ul li {
    margin: 2%;
    font-size: 1.5rem; }
    .page-footer .socials-block ul li a {
      transition: 0.2s; }
      .page-footer .socials-block ul li a:hover {
        color: #7cc576;
        transition: 0.2s; } }
@media only screen and (min-width: 80em) {
  .intro {
    height: 95vh; }
    .intro .title {
      top: 35vh; }
    .intro .subtitle {
      top: 35vh; }
    .intro a {
      top: 44vh;
      font-size: 1rem; }

  .justrelax .wrapper .mainContent {
    height: 50vh; }
    .justrelax .wrapper .mainContent .mainContentBtn {
      margin: 8vh 0;
      width: 14%; }
  .justrelax .wrapper .gear {
    background-position: left -110px center; }

  .latestproject .wrapper .mainContent .mainContentViewDetails:hover {
    color: #000000; }

  .culture .wrapper .block:after {
    height: 2px;
    width: 42%;
    top: 21%;
    left: 80%; }
  .culture .wrapper .block .description {
    margin: 0 5% 10% 5%; }

  .clients {
    padding: 5% 7%; }
    .clients blockquote .avatar {
      width: 20%; }

  .contact .title {
    font-size: 2.05rem; }
  .contact a {
    padding: 15px;
    transition: 0.3s; }
    .contact a:hover {
      background-color: #FFFFFF;
      color: #7cc576;
      transition: 0.3s; }

  .logos {
    padding: 5% 15%; }
    .logos .wrapper img {
      margin: 2.5vh 5%; }

  .page-footer .text-block .contacts {
    font-size: 1rem; }
  .page-footer .text-block .latestpost ul li {
    font-size: 1rem; }
  .page-footer .text-block .latesttweets {
    font-size: 1rem; }
  .page-footer .socials-block ul li {
    margin: 2%;
    font-size: 1.5rem; }
    .page-footer .socials-block ul li a {
      transition: 0.2s; }
      .page-footer .socials-block ul li a:hover {
        color: #7cc576;
        transition: 0.2s; } }
@media only screen and (min-width: 85em) {
  .justrelax .wrapper .mainContent {
    height: 60vh; }
    .justrelax .wrapper .mainContent .mainContentBtn {
      margin: 8vh 0;
      width: 15%; }
  .justrelax .wrapper .gear {
    width: 40%;
    background-position: left -50px center;
    background-size: 160%; }

  .latestproject .wrapper .mainContent .mainContentViewDetails:hover {
    color: #000000; }
  .latestproject .wrapper .mainContent .title {
    font-size: 1.5rem; }
  .latestproject .wrapper .mainContent .description {
    font-size: 1rem; }

  .culture .wrapper .block:after {
    height: 2px;
    width: 42%;
    top: 21%;
    left: 80%; }
  .culture .wrapper .block .description {
    margin: 0 5% 10% 5%; }

  .clients {
    padding: 5% 7%; }
    .clients blockquote .avatar {
      width: 20%; } }
@media only screen and (min-width: 100em) {
  .page-header {
    height: 0vh; }

  .intro .title {
    top: 25vh;
    font-size: 6rem; }
  .intro .subtitle {
    top: 20vh;
    font-size: 2rem; }
  .intro a {
    top: 30vh;
    font-size: 2rem; }

  .professional-services .title {
    font-size: 3rem; }
  .professional-services .subtitle {
    font-size: 1.6rem; }
  .professional-services .wrapper .block .block-title {
    font-size: 2rem; }
  .professional-services .wrapper .block .block-description {
    font-size: 1.2rem; }

  .justrelax .wrapper .mainContent {
    height: 40vh; }
    .justrelax .wrapper .mainContent .mainContentBtn {
      margin: 8vh 0;
      width: 15%; }
  .justrelax .wrapper .gear {
    width: 40%;
    background-position: left -50px center;
    background-size: 160%; }

  .latestproject .title {
    font-size: 3rem; }
  .latestproject .subtitle {
    font-size: 1.6rem; }
  .latestproject .image {
    height: 50vh; }

  .culture .title {
    font-size: 3rem; }
  .culture .subtitle {
    font-size: 1.6rem; }
  .culture .wrapper {
    padding: 0 5%; }
    .culture .wrapper .block:after {
      height: 4px;
      width: 60%;
      top: 12%;
      left: 70%; }
    .culture .wrapper .block .title {
      font-size: 2rem; }
    .culture .wrapper .block .description {
      font-size: 1.5rem; }
    .culture .wrapper .block .description {
      margin: 0 5% 10% 5%; }

  .clients {
    padding: 5% 7%; }
    .clients .title {
      font-size: 3rem; }
    .clients .subtitle {
      font-size: 1.6remW; }
    .clients blockquote .avatar {
      width: 18%; }
    .clients blockquote .quote {
      font-size: 1.8rem; }
      .clients blockquote .quote .author {
        font-size: 1.4rem; } }

/*# sourceMappingURL=style.css.map */
